@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
  font-family: 'Lato', sans-serif;
}

.main {
  width: 700px;
  margin: auto;
}

.main__title {
  margin-top: 30px;
  text-align: center;
}

.main__description {
  line-height: 22px;
  text-align: center;
}
