html {
  box-sizing: border-box;
  background: #ffc600;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input {
  width: 100%;
  padding: 20px;
}

.search-form {
  max-width:400px;
  margin: 50px auto;
}

input.search-form__search-input {
  width: 120%;
  left: -10%;
  position: relative;
  top: 10px;
  margin: 0;

  text-align: center;
  outline: 0;
  border: 10px solid #F7F7F7;
  z-index: 2;
  border-radius: 5px;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.search-form__suggestions {
  margin: 0;
  position: relative;

  padding: 0;
  /*perspective:20px;*/
}

.search-form__suggestions li {
  margin: 0;
  display:flex;
  justify-content:space-between;

  background: #fff;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  padding: 20px;
  transition: background 0.2s;
  text-transform: capitalize;
}

.search-form__suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}
.search-form__suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}

span.search-form__suggestion-population {
  font-size: 15px;
}

.details {
  text-align: center;
  font-size: 15px;
}

.search-form__suggestion--highlighted {
  background: #ffc600;
}

.love {
  text-align: center;
}

a {
  color: #000;
  background: rgba(0,0,0,0.1);
  text-decoration: none;
}
